<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Booking2"></activity>
        <activity android:name=".Chef3" />
        <activity android:name=".Chef2" />
        <activity android:name=".Chef1" />
        <activity android:name=".Bucatari" />
        <activity android:name=".Review" />
        <activity android:name=".MenuI" />
        <activity android:name=".Donate" />
        <activity android:name=".Booking" />
        <activity android:name=".AddF" />
        <activity android:name=".Client" />
        <activity android:name=".MenuSelected" />
        <activity android:name=".Administrator" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>